@import "./../../styles/variables.scss";

.home{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
    background: $bg;
    justify-content: center;

    h1{
        padding: 1.5rem 2.5rem;
        background: linear-gradient(220deg, $primary, rgba($primary,0.5));
        border-radius: $borderRadius calc(#{$borderRadius} * 10);
    }

    img {
        height: 10rem;
        transform: scaleX(-1);
    }

    span{
        font-size: 22px;
        color: $highlight;
        font-weight: 500;
    }

    p{
        font-size: 20px;
        color: black;
    }
}