@import '../../styles/variables.scss';

.header{
    background: $dark;
    position: sticky;
    top: 0;
    z-index: 200;
    height : $headerHeight;
    padding : 0 1.5rem;
    @include breakpoint(md){
        padding : 0 1.5rem;
    }
    transition: 0.3s ease all;

    &__content {
        overflow: hidden;
        color: $light;
        margin: 0;
        max-width: 1920px;
        height: 100%;
        display: grid;
        grid-template-columns: 80% 20%;
        justify-items: start;
        // align-items: center;
        // justify-content: space-between;
        position: relative;
        z-index: 100;

        @include breakpoint(md){
            grid-template-columns: 20% 80%;
            justify-items: center;
        }

        &__logo {
            font-size: 2rem;
            font-weight: bold;
            text-decoration: none;
            color: $light;
            display: flex;
            justify-content: start;
            align-items: center;
            width: 100%;

            @include breakpoint(md){
                font-size: 2.5rem;
            }
        }

        &__nav {
            top: 0;
            left: 100%;
            bottom: 0;
            height: 100%;
            min-width: 50%;
            position: fixed;
            display: grid;
            grid-template-rows: 15fr 1fr;
            align-items: center;
            text-align: center;
            background: rgba($dark , 0.9);
            backdrop-filter: blur(2px);
            transform: translate(0);
            transition: 0.3s ease transform;
            

            @include breakpoint(md){
                display: grid;
                grid-template-columns: 85% 15%;
                grid-template-rows: 1fr;
                justify-items: center;
                background: transparent;
                width: 100%;
                height: 100%;
                position: static;
                backdrop-filter: blur(0px);
                font-size: 10px;
            }
            ul{
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                margin: 0;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                @include breakpoint(md){
                    flex-direction: row;
                    align-items: center;
                    gap: 0;
                }
                li{
                    a{
                        text-decoration: none;
                        color: inherit;
                        padding: 0.75rem 1.5rem;
                        border-radius: $borderRadius;
                        transition: 0.3s ease all;
                        width: 100%;
                        font-size: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 0.5s ease all;

                        @include breakpoint(md){
                            font-size: 15px;
                        }

                        &:hover{
                            //background: rgba($light, 0.1);
                            color: red;
                            font-size: 20px;
                        }

                        &:active{
                            //border-radius: calc(#{$borderRadius} + 6px);
                            //background: linear-gradient(rgba($light,0.1),rgba($light,0.2));
                            color: red;
                            font-size: 20px;
                        }
                    }
                }
            }
            button {
                cursor: pointer;
                outline: none;
                padding: 0.75rem 1.25rem;
                border-radius: $borderRadius;
                font-size: 1rem;
                font-family: inherit;
                background: $primary;
                color: $dark;
                border: 1px solid transparent;
                transition: 0.3s ease all;
                
                &:hover{
                    border-color: $primary;
                    background: rgba($primary,0.1);
                    color:$primary;
                }

                &:active{
                    border-color: $primary;
                    background: linear-gradient(rgba($light,0.1),rgba($light,0.2));
                    color: $primary;
                }
            }

            

            &.isMenu{
                transform: translate(-100%);

                @include breakpoint(md){
                    transform: translate(0%);
                }
            }
        }

        &__toggle{
            cursor: pointer;
            display: flex;
            align-items: center;
            font-size: 2rem;
            transition: 0.3s ease all;
            position: relative;
            justify-content: flex-end;
            width: 100%;

            &:hover{
                color: $primary;
            }

            @include breakpoint(md){
                display: none;
            }
        }
    }
}