@import "./../../styles/variables.scss";

.skillCard{
    border-radius: $borderRadius;
    border: 1px solid rgb(80, 80, 80);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background: rgb(46, 43, 43);
    color: white;
    box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease all;

    &:hover{
        transform:scale(1.06,1.06) translate(-5px,-10px);
        box-shadow: 5px 5px 10px 2px rgba(255,0,0,0.5);
    }
}

